# ide
.idea/
.ipynb_checkpoints/

# flare artifacts
log.txt
client_token.txt
*.fl
audit.log
transfer
workspaces

# python
__pycache__
.pyc

# virtual environments
flare_cifar10

# data
dataset
dataset*
*results*
